@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    background: #fafafa;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    opacity: 0.75;
    color: #888;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem ;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    
}

.logo {
    font-size: 2rem;
    color: #3a30df;
}

.menu-icon{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.nav-list {
    background-color: #d7d4ed;
    width: 25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: all 650ms ease-in-out;
    


}

.nav-item {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.close {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.open {
    
}

.current { 
    top: 0;
    transform: translateX(-25rem);
}


.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    padding: 100px 50px;
    height: 100vh;
}

.text-content {
    margin-bottom: 100px;
}
.hero div h1{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.5em;
}

.desc{
    margin-bottom: 60px;
    font-size: 14px;
    opacity: 0.6;
}

.hero img{
    width: 100%;
    /* display: none; */
}
.cta {
   border: none; 
   padding: 20px;
   border-radius: 10px;
   background: #3a30df;
}

.cta div {
    display: flex;
    
}
.cta p {
    /* flex: 1; */
    
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

.call-icon {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    /* to be fixed later */

    display:none;

}